@font-face {
  font-family: 'iconfont';  /* Project id 4165558 */
  src: url('//at.alicdn.com/t/c/font_4165558_4804ivyde1y.woff2?t=1689344525552') format('woff2'),
       url('//at.alicdn.com/t/c/font_4165558_4804ivyde1y.woff?t=1689344525552') format('woff'),
       url('//at.alicdn.com/t/c/font_4165558_4804ivyde1y.ttf?t=1689344525552') format('truetype');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-aixin {
  content: "&#xe62a;";
  color: red; /* 图标颜色需要自行修改 */
}